<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCalendarsUsageDescription</key>
	<string>MacCalendar needs access to your calendars to display your events.</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>MacCalendar needs full access to your calendars to display your events.</string>
	<key>NSRemindersUsageDescription</key>
	<string>MacCalendar needs access to your reminders to display them alongside your events.</string>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>MacCalendar needs full access to your reminders to display them alongside your events.</string>
	<key>ATSApplicationFontsPath</key>
	<string>.</string>
</dict>
</plist>
